<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>PIGEON</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

  <!-- jsdelivr cdn -->
  <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <style type="text/css">
      @import url("/static/moment/style/dashed_button.css");
      @import url("/static/moment/style/login.css");
  </style>
  <!--跳转到主页面func-->
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <audio autoplay="autoplay" loop="loop" >
          <source src="/static/moment/audio/back.mp3"  type="audio/mp3" />
        </audio>
    <div class="cont">
      <div class="form sign-in" id="sign_in_div">
        <div style=" color: #E65540;text-align: center; height: 25px;" id="login_hint"></div>
        <h2>Welcome</h2>
        <label>
          <span>Username</span>
          <div class="error_hint" id="sign_in_username_error" style=" color: #E65540;"></div>
          <input key="unique" type="text"  v-validate="'required|alpha_dash|max:150'" data-vv-scope="sign_in"  name="username_in" id="sign_in_username"/>
        </label>
        <label>
          <span>Password</span>
          <div class="error_hint" id="sign_in_password_error" style=" color: #E65540;"></div>
          <input key="unique" type="password" name="password_in" v-validate="'required|alpha_dash|max:150'" data-vv-scope="sign_in" id="sign_in_password"/>
        </label>
        <div style="align-items: center; display: block; margin-top:5rem;">
        <section style="justify-content: center; ">
        <button  class='lined thin'id="login_btn" v-on:click="onSignIn" >Login</button>
        <!-- <button  class='lined thin'>忘记密码</button> -->
    </section> 
    </div> 
    </div>
      <div class="sub-cont">
        <div class="img">
          <div class="img__text m--up">
            <h2>New gamers?</h2>
            <p>Welcome to sign up and join the game!</p>
          </div>
          <div class="img__text m--in">
            <h2>Already signed up?</h2>
            <p>If you have signed up, please click sign in to continue./w/</p>
          </div>
          <div class="img__btn">
            <span class="m--up">Sign Up</span>
            <span class="m--in">Sign In</span>
          </div>
        </div>
        <div class="form sign-up" id="sign_up_div">
            <div style=" color: #E65540;text-align: center;height: 25px;" id="invite_code_hint"></div>
          <h2>Hello</h2>
          <label>        
            <span>Username</span> 
            <div class="error_hint" id="sign_up_username_error" >Can contain Arabic numerals, upper and lower case letters, underline; Length not exceeding 150 characters.</div>
            <input key="unique" type="text" name="username_up" v-validate="'required|alpha_dash|max:150'" data-vv-scope="sign_up" id="sign_up_username" />           
          </label>
          <label>
            <span>Email</span>
            <div class="error_hint" id="sign_up_email_error">We will protect your privacy.</div>
            <input key="unique" type="email"  v-validate="'required|email'" data-vv-scope="sign_up" name="email_up" id="sign_up_email"/>
          </label>
          <label>
            <span>Password</span>
            <div class="error_hint" id="sign_up_password_error">Can contain Arabic numerals, upper and lower case letters, underline; Length not exceeding 150 characters.</div>
            <input key="unique" type="password" name="password_up" v-validate="'required|alpha_dash|max:20'" data-vv-scope="sign_up" id="sign_up_password" />
          </label>
          <div style="align-items: center; display: block; margin: 0 auto;">
                <section style="justify-content: center; margin-top: 2rem">
                  <span class="invite_wrapper">
                    <span class="invite_title">Invite Code</span> 
                    <input id="invite_code" placeholder="Click"  type="text" name="invite_code" />  
                  </span> 
                <button type="submit" class='lined thin' v-on:click="onSignUp">Sign up and login</button>
            </section> 
            </div> 
        </div>
      </div>
    </div>
    
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/moment/script/login.js"></script>
  </body>
</html>
 



